* {
	margin: 0px;
	padding: 0px;
	margin: auto;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

/* header */
#logo img {
	height: 100px;
}

header {
	display: flex;
	font-size: 15px;
	font-family: "Roboto", sans-seri;
	font-weight: bold;
}


.titulo1 {
	/* 	background: rgba(38, 183, 228, 0.959); */
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 15px;
	position: fixed;
	left: 520px;


}

.cuadro {
	height: 50px;
	line-height: 90px;
	width: 130px;
	text-align: center;
}




.icon-facebook2 {
	color: blue;
}

/* contenedor */
#contenedor {
	display: flex;
}

.img1 img {
	width: 1200px;
}

#central {
	display: flex;
}

.cuadro2 {
	background: rgba(38, 183, 228, 0.959);
	height: 90px;
	line-height: 90px;
	width: 120px;
	text-align: center;
	padding: 5px 89px 5px 89px;
}

/* #central. {
	background: rgb(55, 175, 211);
	padding-left: 10px;
	font-size: 23px;
	color: white;
	font-weight: bold;
	padding-bottom: 10px;
	position: relative;
	bottom: 54px;
	right: 766px;
	padding-top: 10px;
} */
/* muestra */
.letras {

	color: rgba(38, 183, 228, 0.959);
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* contenedor_home */
#contenedor_home {
	display: flex;

}

.img2 img {
	width: 390px;
	/* padding: 20px 3px 0px 4px; */
	padding-top: 20px;
	padding-right: 2px;
	padding-left: 5px;

}

#parrafo1 .titulo6 {

	background: rgb(55, 175, 211);
	/* line-height: 20px; */
	/* 	padding-left: 15px; */
	font-size: 18px;
	color: white;
	/* 	padding-bottom: 10px; */
	position: relative;
	bottom: 45px;
	left: 10px;
	padding: 10px 10px 10px 10px;
	margin-right: 200px;

}